{% extends "layout.html" %}
{% block body %}
<div class = "container vertical-center"> 
 <h2>Login</h2>
  {% if error %}<div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <input type=text name=username>
      <dt>&nbsp;
      <dt>Password:&nbsp 
      <input type=password name=password>
      <dt>&nbsp;
      <dt><input class = "btn btn-primary" type=submit value=Login>
    </dl>
  </form>
</div>
{% endblock %}
